*{
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header section */
.header{
    
    background-color: #FFFFFF;
    background-position: top left ,bottom right;
    margin: 0 auto;
    

    }

.header nav{
    border: 1px solid red;
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.header .logo{
    width :139px ;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.header  ul {
    display: flex;
    gap: 32px;
}
.header .list-items ul a{
    text-decoration: none;
}  
.header .list-items ul{
    list-style: none;
} 



.list-items li a{
    font-size: 16px;
    font-weight: 500px;
    color:#000000;
}
.btn1{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
}