*{
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header section */
.header{
    
    background-color: #FFFFFF;
    background-position: top left ,bottom right;
    margin: 0 auto;
    

    }

.header nav{
    /* border: 1px solid red; */
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}
.header .logo{
    width :139px ;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.header  ul {
    display: flex;
    gap: 32px;
}
.header .list-items ul a{
    text-decoration: none;
}  
.header .list-items ul{
    list-style: none;
} 



.list-items li a{
    font-size: 16px;
    font-weight: 500px;
    color:#000000;
}
.btn1{
    width: 164px;
    height: 44px;
    margin-right: 120px;
    border-radius: 4px;
    background-color: #469165;
    color: #FFFFFF;
}

/* banner-section */
.banner-section{
    border: 1px solid white;
    width: 1600px;
    height: 674px;
    margin: 0 auto;
    
    background-image: url('../images/hero-bg.png');
}
.banner-section .banner-container{
    
    width: 1360px;
    height: 379px;
    margin-left: 120px;
   margin-top: 115.5px;
    margin-bottom: 179.5px;
}
.btn2-container{
    margin-left: 565.5px;
}
.btn2{
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    color: #30B868;
    background-color: #FFFFFF;
}
.text-item{
    text-align: center;
}
.text-item h2{
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 16px;
    line-height: 84px;
}
.text-item h3{
    font-size: 72px;
    font-weight: 700;
    color: #30B868;
   
    line-height: 84px;
}
.text-item p{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 16px;
}
.btn-items{
    text-align: center;
    margin-top: 32px;
    
}
.btn-items .btn3{
    width: 251px;
    height: 51px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 16px;
    font-size: 16px;
    font-weight: 600;

}
.btn-items .btn4{
    border: 1px solid white;
    width: 198px;
    height: 52px;
   border-radius: 4px;
    font-size: 16px;
    font-weight:600 ;
    color: #FFFFFF;
   opacity: 100%;
   background: none;
}
.btn4 i{
    color: white;
}

/* Notes Section */
.notes-section{
    /* border: 1px solid red; */
    width: 1600px;
    height:500px;
    margin: 0 auto;
   background-color: #FFFFFF;

}


.notes-title{
    border: 1px solid white;
    text-align: center;
    margin-top: 60px;

}
.notes-title h1{
    font-size: 48px;
    color: #001931;
}
.notes-title p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}
.notes-card{
    
    width: 1360px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    margin-top: 44px;
    align-items: center;
}
.notes-card .card img{
    color: #30B868;
    background-color: #F95555;
    border: 1px solid red;
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    margin-top: 83.88px;
    margin-left: 144.93px;
 }

 .notes-card .card{
    /* border: 1px solid black; */
    width: 322px;
    height: 300px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px #00000018;
    border-bottom: none;
   
 }
 .card h2{
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: #001931;
    
 }
 .card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
    text-align: center;
    line-height: 20px;
 }

 /* Brain Section */
 .brian-section{
    /* border: 1px solid black; */
    width: 1600px;
    height: 840px;
    margin: 0 auto;
    margin-top: -62px;
 }
 .brian-container{
    /* border: 1px solid red; */
    height: 600px;
    width: 1360px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
 }
 .brian-imag{
    
    width: 600px;
    height: 600px;
 }
 .brian-text{
     /* border: 1px solid blue; */
     width: 760px;
    height: 600px;

 }
 .brian-solution{
    /* border: 1px solid brown; */
    width: 700px;
    
    height: 396px;
    margin-left: 60px;
    margin-top: 102px;
   
 }
 .brian-solution i{
    color: #30B868;
 }
 .brian-solution h4{
    font-size:16px ;
    font-weight :500 ;
    color: #469165;
 }
 .brian-solution h2{
    font-size:48px ;
    font-weight:700 ;
    color: #001931;
    margin-top: 16px;
 }
 .brian-solution p{
    font-size:16px ;
   color: #627382;
   margin-top: 16px;
 }
 .brian-solution1{
    margin-top: 40px;
   
   

 }
 .brian-solution h5{
    
    
    font-size: 16px;
    font-weight: 500;
    color: #001931;
   margin-top: 16px;
   
 }
 /* access-section */

 .access-section{
    /* border: 1px solid black; */
    width: 1600px;
    height: 506px;
    margin: 0 auto;
 }
 .early-access{
    border: 1px solid white;
    width: 1360px;
    height: 384px;
    margin: 0 auto;
    background-color: #F7F6F2;
    text-align: center;
    margin-bottom: 120px;
    margin-top: -100px;
 }
 .early-access h6{
    font-size:40px ;
    font-weight: 700 ;
    margin-top: 80px;
 }
 .early-access p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
 }
 .btn5{
   width: 194px;
   height: 52px;
   border-radius: 4px;
   background-color: #469165;
   color: #FFFFFF;
   margin-top: 24px;
   box-shadow: 0 10px 20px #0000001b;
   align-items: center;

}
.btn5 img{
    width: 20px;
    height: 20px;
}

/* footer */

.footer{
    width: 1600px;
    height: 348px;
    border: 1px solid red;
    margin: 0 auto;
    background-color: #001931;
    margin-top: -20px;
}
.footer-container1{
    width: 1360px;
    height: 64px;
    /* border: 1px solid white; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 120px;
   
}
.footer-icons img{
    width: 20px;
    height: 20px;
    margin-right: 16px;
    margin-top: 16px;
    border-radius: 1000px
    
   
}

.social-section p{
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-right: 107px;
   
}
.footer-container2{
    width: 1360px;
    height: 54px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
   
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;

}
.footer-container2 p{
    margin-top: 30px;
}
.footer-container2 hr{
    color: #E5E7EB;
}


 